<div class="home-container">
    <div class="login-container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
                <label htmlFor="username" >Username</label>
                <input
                    required minlength="4" 
                    name="username"
                    type="text" 
                    placeholder="Enter your username"
                    formControlName="username"
                />
                <div *ngIf="profileForm.controls['username'].errors?.['required']">
                    Username is required.
                </div>
                <div *ngIf="profileForm.controls['username'].errors?.['maxlength']">
                    Username is too long
                </div>
        </div>
        <div class="input-container">
                <label htmlFor="password" >Password</label>
                <input 
                    name="password"
                    type="password" 
                    placeholder="Enter your password"
                    formControlName="password"
                />
                <div *ngIf="profileForm.controls['password'].errors?.['required']">
                    Password is required.
                </div>
                <div *ngIf="profileForm.controls['password'].errors?.['minlength']">
                    Password must contain a minimum of 6 characters
                </div>
        </div>
        <div class="btn-container">
          <button  class="btn-submit">Login</button>
        </div>
        
    </form>
  </div>
</div>